<!DOCTYPE html>
{% extends"base.html" %}


    {% block content %}


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h1 class="mb-4">Best choices for you</h1>
      </div>
    </div>
    <div class="row">
        {% for country, cities in city_list.items() %}
        <div class="col-md-4 ftco-animate">
            <div class="project-destination">

                <div class="card-body">                     
                        <p>
                            <div class="bs-example1">
                                <div class="accordion" id="accordionExample1">
                                    <div class="card" style="width: 290px">
                                    <div class="card-header" id="headingOne" style= "background-image: url({{ url_for('static', filename='img/'+country+'1.jpg') }}); height: 162px; width: 288px; background-size: cover; background-repeat:no-repeat; align:center" data-toggle="collapse" data-target=#{{ country }}>
                                        <em><h5 style="color:black"> {{country}}</h5></em>
                                        </div>
                                        <div id={{ country }} class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample1">
                                            <div class="card-body">
                                                {% for city in cities %}
                                                <p>
                                                   <center><a href="{{ url_for('trip.index', city_inbound=city.city_inbound) }}">{{ city.city_inbound.title() }}</a></center> 
                                                </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p> 
                    </div>
                
                
            </div>
        </div> 
        {% endfor %}
    </div>
    </div>
</section>


    {% endblock %}