{% extends"base.html" %}

{% block content %}
<div class="row">
    <div class="col-4">
        <h2>Hotels</h2>
        {% for hotel in hotel_list %}
            <h3><a href="{{ hotel.url }}">{{ hotel.hotel_name }}</a></h3>
            <p>raiting - {{ hotel.rating }}</p>
            <p>price - {{ hotel.price }} rub</p>
            <p>{{ hotel.stars }}</p>
            <img src="{{ hotel.img }}" width="200" height="150">
            <hr />
        {% endfor %}
    </div>
    
    <div class="col-4">
        <h2>AirTickets</h2>
        {% for ticket in tickets_list %}
            <p>company - {{ ticket.company }}</p>
            <p>price - {{ ticket.price }} rub</p>
            <hr />
        {% endfor %}
    </div>
    <div class="col-4">
        <h2>Attractions</h2>
        {% for attraction in attractions_list %}
            <h3><a href="{{ attraction.url }}">{{ attraction.name }}</a></h3>
            <p>address - {{ attraction.address }}</p>
            <p>{{ attraction.description }}</p>
            <img src="{{ attraction.img_url }}" width="200" height="150">
            <hr />
        {% endfor %}
    </div>
</div>
    

{% endblock %}